.maxWidthWrapper {
  height: 100%;
  display: grid;
  place-content: center;
}

.maxWidthWrapper > input {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px double black;
  word-break: break-all;
  padding: 32px;
  font-size: 2.5rem;
  max-width: 80vw;
}

/* .highlighterWrapper {
  margin-bottom: 2rem;  
} */