.maxWidthWrapper {
  height: 100%;
  display: grid;
  place-content: center;
}

.maxWidthWrapper > input {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}